.container{
    text-align: center;
}

#main {
    width: 800px;
    font-size: 1.8rem;
    background: rgb(8, 12, 248);
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
    border: 2px solid #000000;
}

#limpiar {
    padding: 8px 20px;
}
#canvas {
    border: 2px solid #0059ff;
    margin-top: 20px;
}
